<%= form_for(@brainstorm) do |f| %>
  <% if @brainstorm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brainstorm.errors.count, "error") %> prohibited this brainstorm from being saved:</h2>

      <ul>
      <% @brainstorm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <label for = "brainstorm_date">Date</label>
    <input type ="date" name ="brainstorm[date]" 
           id ="brainstorm_date"
           value = "<%=@brainstorm.date%>">
  </div>

  <div class="field"> 
    <%= f.label :start %><br />
    <input type ="time" id = "brainstorm_start" 
          name = "brainstorm[start]"
           value ="<%= @brainstorm.start %>">
  </div>
  <div class="field"> 
    <%= f.label :end %><br />
    <input type ="time" id = "brainstorm_end" 
          name = "brainstorm[end]"
           value ="<%= @brainstorm.end %>">
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :no_people %><br />
    <%= f.number_field :no_people %>
  </div
  <div class="field">
    <%= f.label :no_ideas %><br />
    <%= f.range_field :no_ideas , :min => 1, :max => 5 %>
  </div>
  <div class="field">

  <label for ="brainstorm_color">
	Background Color for this Brainstorm</label>
  <input type = "color" id = "brainstorm_color" 
         name = "brainstorm[color]" 
         value = "<%=@brainstorm.color%>">
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
